/* * {outline: 2px dotted purple;} */
body {
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 13px;
    color:hsl(216, 18%, 65%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: hsl(213, 19%, 18%);
    border-radius: 10px;
    padding: 30px 20px;
    width:85%;
}

.star-container, 
.rating-number {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color:hsl(227, 8%, 23%);
}

#thank-you-img {
    display: none;
}
#star {
    position: relative;
    left: 9px;
    bottom:-9px;
}

.title h2 {
    color:hsl(0, 0%, 100%);
}

.text {
    font-weight: lighter;
}

.rating-selection {
    display: flex;
    justify-content: space-evenly;
}

.rating-number p {
    position: relative;
    left: 13px;
    bottom: 5px;
    font-size: 14px;
}

.rating-number:hover {
    background-color: hsl(0, 1%, 58%);
    color:white;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit input:hover {
    background-color: white;
    color:hsl(25, 97%, 53%)
}

.submit input {
    background-color: hsl(25, 97%, 53%);
    width: 75%;
    height: 40px;
    padding: 5px auto;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 30px;
    cursor: pointer;
    font-variant: small-caps;
    text-transform: uppercase;
}

footer {
    margin: 40px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width:425px) {
    .card {
        width:50%;
    }
}

@media only screen and (min-width:768px) {
    .card {
        width:35%;
    }
}

@media only screen and (min-width:1440px) {
    .card {
        width:20%;
    }
}